<div class="form-group">
    <label for="nombre" class="col-sm-2 control-label">Número del bloque</label>
    <div class="col-sm-10">
		<input type="hidden" ng-model="bloque._id" class="form-control" id="id" placeholder="Id del bloque"/>
        <input type="text" ng-model="bloque.numero_bloque" class="form-control" id="numero" placeholder="Número del bloque"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Guardar"/>
    </div>
</div>